@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background:#252525;

}
.App{
  width:calc(100%);
  padding:1rem;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap:1rem; */
}
.timer-game{
  background:black;
  /* width:fit-content; */
  padding:0.5rem;
  margin:0.5rem;
  border-radius:0.5rem;
  height:min-content;
  /* width: */
}
.timer-game>p{
  /* font-size:1rem; */
  color:white;
  line-height: 1;
  margin: 0;
  font-family:Montserrat;
}
.timer-game>.timer{
  /* line-height: 1; */
  color:red;
  font-weight:600;
  font-size:2vw;
}
.timerPlus{
  color:#33ff14;
}
  @media (max-width:640px) {
    .App{
      grid-template-columns: repeat(1, 1fr);  
    }
    .timer-game>.timer{
      font-size:5vh;

    }
  }